@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaf1ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c64b9;
}

.hidden-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hidden-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
